<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Basic Form</h1>
        <form>
            {% csrf_token %}
            <label for="user">USERNAME</label>
            <input type="text" name="user" id="user"><br>

            <label for="pass">PASSWORD</label>
            <input type="Password" name="pass" id="pass"><br>

            <input type="submit">

        </form>
    </center>
</body>
</html>